<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head ng-controller="baseController">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fix Outlook and Office 365 problems with the Microsoft Support and Recovery Assistant for Office 365</title>
    <meta name="description" content="If you're experiencing problems with Outlook or are having trouble installing Office apps, Microsoft Support and Recovery Assistant for Office 365 can help identify and fix several issues.">
    <meta property="og:url" content="https://diagnostics.outlook.com">
    <meta property="og:title" content="Fix Outlook and Office 365 problems with the Microsoft Support and Recovery Assistant for Office 365">
    <meta property="og:description" content="If you're experiencing problems with Outlook or are having trouble installing Office apps, Microsoft Support and Recovery Assistant for Office 365 can help identify and fix several issues.">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Fix Outlook and Office 365 problems with the Microsoft Support and Recovery Assistant for Office 365" />
    <meta name="twitter:description" content="If you're experiencing problems with Outlook or are having trouble installing Office apps, Microsoft Support and Recovery Assistant for Office 365 can help identify and fix several issues." />
    <meta name="twitter:url" content="https://diagnostics.outlook.com" />
    <meta name="robots" content="noydir,noodp">
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link href="https://support.office.com/favicon.ico?b=16064052150" rel="shortcut icon" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="canonical" href="https://diagnostics.outlook.com" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.0.1/js/adal.min.js"></script>
    <link rel="alternate" hreflang="x-default" href="https://www.diagnostics.outlook.com/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../Css/Common/fontface.css" rel="stylesheet" />
    <link href="../Css/Common/appPicker.css" rel="stylesheet" />
    <link href="../Css/Common/base.css" rel="stylesheet" />
    <link href="../Css/Common/footer.css" rel="stylesheet" />
    <link href="../Css/Common/header.css" rel="stylesheet" />
    <link href="../Css/Common/menu.css" rel="stylesheet" />
    <link href="../Css/Common/commonControls.css" rel="stylesheet" />
    <link href="../Css/Feedback/Feedback.css" rel="stylesheet" /> 
    <script src="../ControllerBundle/app.min.js"></script>    
</head>
<body>
    <div ng-controller="menuCtrl">
        <div class="content" ng-click="closeWaffle()">
            <div class="dataWrapper" ng-click="closeWaffle()">
                <div ng-view></div>
                <div ng-controller="footerCtrl" ng-click="closeWaffle()">
                    <div ng-include src="footer.url"></div>
                    <script type="text/ng-template" id="Footer.html">
                    </script>
                </div>
            </div>
        </div>
        <div ng-include src="menu.url"></div>
        <script type="text/ng-template" id="Menu.html">
        </script>
    </div>
</body>
</html>
