<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.CodeAnalyzers" version="1.0.6206.900" targetFramework="net46" />
  <package id="PDFsharp" version="1.50.4000-beta3b" targetFramework="net20" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
</packages>